<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
            <a class="navbar-brand" href="#">Game Store</a>
            @Html.Action("Widget","Cart")
            <div class="button-menu">
                @Html.ActionLink(" ", "Index", "Home", new { platform = "PlayStation" }, new { @class = "btn btn-primary first" })
                @Html.ActionLink(" ", "Index", "Home", new { platform = "Xbox" }, new { @class = "btn btn-primary second" })
                @Html.ActionLink(" ", "Index", "Home", new { platform = "PC" }, new { @class = "btn btn-primary third" })
            </div>
    </div>
    <div class="row panel">
        <div id="categories" class="col-xs-3">
 
            @Html.Action("List","Category")
            @Html.ActionLink("Administration", "Login", "Account", null, new { @class = "adm btn btn-primary btn btn-block btn-default btn-lg" })
        </div>
        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>
</body>
</html>